DB_HOST=db
DB_USER=user
DB_PASSWORD=
DB_NAME=customer_service_db

RABBITMQ_HOST=rabbitmq

KEYCLOAK_ISSUER=http://localhost:8888/realms/dev
KEYCLOAK_JWKS_URL=http://localhost:8888/realms/dev/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=

POSTGRES_USER=user
POSTGRES_PASSWORD=
POSTGRES_DB=customer_service_db

TRUSTED_PROXIES=127.0.0.1
